<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title><%= config.title %></title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">  -->
<meta name="keywords" content="" />

	 <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- Custom Theme files -->
	<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->

	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
	<!-- //web font -->

</head>
<body>

<!-- main -->
<div class="w3layouts-main"> 
	<div id="login" class="bg-layer">
		<h1 class="header-login-title">MQBC Buzz it</h1>
		<div class="header-main">
			<!-- plan diganti ke logo bca -->
			<div class="main-icon">
				<img src="/assets/images/bcalogo.svg" class="logo">
				<!-- <span style="padding-top: 25px;" class="fa fa-eercast"></span> -->
			</div>
			<div class="header-left-bottom">
				<form id="login_form" method="post">
                    <input name="id" type="hidden"/>
					<div class="icon1">
						<input type="text" name="name" placeholder="Name" required=""/>
					</div>

					<div class="icon2">
						<label class="select" for="slct">
							<select class="login-select-team-box" name="team" required="required">
                                <option selected></option>
                                <% data.teams.forEach(function(team){ %>
                                <option value="<%= team.name %>"><%= team.name %></option>
                                <% }); %>
							</select>
							<svg>
								<use xlink:href="#select-arrow-down"></use>
							</svg>
						</label>
					</div>

					<div class="bottom">
						<button class="btn login-button">Log In</button>
					</div>

				</form>	
			</div>

		</div>
		

	</div>

    <div class="bg-layer"  id="buzz_interface" hidden>
		<h1 id="info_name" class="title-name">Melinda</h1>
		<h3 id="info_team" class="title-city" style="margin-bottom: 20px;">Malang</h3>

		<!--    TeamRank     -->
		<div class="header-main" id="score">

			<div class="header-left-bottom">
				<h2 class="scoreboard-title">Scoreboard</h2>
                <table id="score_list" class="list-score">
                    <tbody>
                    <% data.teams.sort((prev, curr) => curr.point - prev.point).forEach(function(team){ %>
                    <tr>
                        <td class="list-score-name"><%= team.name %></td>
                        <td class="list-score-poin"><%= team.point %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
			</div>

		</div>
		<!--    BuzzButton     -->
		<div id="buzz_interface" class="buzzArea">
			<button id="buzz_button"  class="bubbly-button">BUZZ it</button>
			<button id="buzz_locked"  class="bubbly-button hidden" >Buzzed</button>
			<script>
				const animateButton = function (e) {
					e.preventDefault;
					//reset animation
					e.target.classList.remove("animate");

					e.target.classList.add("animate");
					setTimeout(function () {
						e.target.classList.remove("animate");
					}, 700);
				};

				const bubblyButtons = document.getElementsByClassName("bubbly-button");

				for (var i = 0; i < bubblyButtons.length; i++) {
					bubblyButtons[i].addEventListener("click", animateButton, false);
				}
			</script>
		</div>
		<!--    BuzzRank     -->
		<di id="buzz" class="header-main">
			<div class="header-left-bottom">
				<h2 class="scoreboard-title">Buzz Rank</h2>
                <ul id="buzz_list" class="uk-list uk-list-striped buzz-lists">
                    <% data.buzzes.forEach(function(user){ %>
                    <li>[<%= user.team %>] <%= user.name %> <span class="float-rt"><%= user.now %> ms</span></li>
                    <% }); %>
                </ul>
			</div>
		</div>
	</div>
    
</div>	
<!-- //main -->
<script src="/socket.io/socket.io.js"></script>
<script src="/common/event.js"></script>
<script src="/join/user.js"></script>
<script src="/join/score.js"></script>
<script src="/join/buzz.js"></script>
<script src="/join/clearbuzz.js"></script>
<script src="/join/store.js"></script>
<script src="/join/index.js"></script>

</body>
</html>
